Webpack (imports/exports)
    Babel
    Scss
    Eslint
    2 Modes 
        - Dev
            Dev Server, SourceMap, Eslint, Not minified JS&Css
        -Prod
            Minified Code
Git


- create method toHTML() return '' in ExcelComponent
- create class Excel 
- in index.js cerate new Excel() class (import)
- put inside a selector #app
-